<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cliente.descricao %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @cliente.contato %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cliente.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cliente.longitude %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
