<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cliente.descricao %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @cliente.contato %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cliente.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cliente.longitude %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>

<% model = RepresentanteComercial %>

<p id="notice"><%= notice %></p>

<h1>Representantes Comerciais</h1>

<table>
  <thead>
  <tr>
    <th><%= model.human_attribute_name(:descricao) %></th>
    <th><%= model.human_attribute_name(:contato) %></th>
    <th><%= model.human_attribute_name(:endereco) %></th>
    <th><%= model.human_attribute_name(:cep) %></th>
    <th><%= model.human_attribute_name(:telefone) %></th>
    <th><%= model.human_attribute_name(:email) %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @representante_comerciais.each do |representante_comerciais| %>
    <tr>
      <td><%= representante_comerciais.descricao %></td>
      <td><%= representante_comerciais.contato %></td>
      <td><%= representante_comerciais.endereco %></td>
      <td><%= representante_comerciais.cep %></td>
      <td><%= representante_comerciais.telefone %></td>
      <td><%= link_to 'Show', cliente_representante_comercial_path(representante_comerciais) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
