<%#TODO: refactoring, igual ao relatório da indústria  %>
<div class="row">
  <div class="text-center">
    <h1>LOJISTAS</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="x_panel tile fixed_height_100_pc">
      <div class="x_title">
        <h2><i class="fa fa-sort-numeric-asc"></i> TOP 10 MAIS SOLICITAÇÕES</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% @lojistas_mais_compras.each do |lojista| %>
          <div class="widget_summary">
            <div class="w_left w_20">
              <span><%= lojista.solicitacoes_por_lojista %></span>
            </div>
            <div class="w_right w_70">
              <%= link_to industria_lojista_path(current_usuario.industria, lojista) do %>
                <span title="<%= lojista.descricao %>"><%= lojista.descricao %></span>
              <% end %>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="x_panel tile fixed_height_100_pc">
      <div class="x_title">
        <h2><i class="fa fa-sort-numeric-asc"></i> TOP 10 MAIS PEDIDOS</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% @lojistas_mais_pedidos.each do |lojista| %>
          <div class="widget_summary">
            <div class="w_left w_20">
              <span><%= lojista.pedidos_por_produto %></span>
            </div>
            <div class="w_right w_70">
              <%= link_to industria_lojista_path(current_usuario.industria, lojista) do %>
                <span title="<%= lojista.descricao %>"><%= lojista.descricao %></span>
              <% end %>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
