<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h1>Criar Conta</h1>

        <%= f.input_field :nome, required: false, autofocus: true, placeholder: "Nome", class: "form-control" %>
        <%= f.input_field :email, required: false, autofocus: true, placeholder: "Email", class: "form-control" %>
        <%= f.hidden_field :tipo, value: "industria" %>
        <%= f.input_field :password, required: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Senha", class: "form-control" %>
        <%= f.input_field :password_confirmation, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Confirmação Senha", class: "form-control" %>

        <%= f.button :submit, "Cadastrar", class: "btn btn-default" %>

      <% end %>

      <%= render "devise/shared/links" %>

    </section>
  </div>
</div>



