<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Criar Conta
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-label-left"}) do |f| %>
        <div class="nav navbar-right">
          <%= f.button :submit, "Cadastrar", class: "btn btn-default" %>
          <%- if controller_name != 'sessions' %>
            <%= link_to "Autenticar", new_session_path(resource_name), class: "btn btn-info" %><br/>
          <% end %>
        </div>
        <div class="x_content">
          <%= f.input :nome, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :cpf, required: true, autofocus: true %>
          <%= f.hidden_field :tipo, value: "industria" %>
          <%= f.input :password, required: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>


        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
