<%= link_to root_path do %>
  <div class="navbar nav_title" style="border: 0;">
    <%#FIXME: Melhorar logo do cliente %>
    <%= foto_logo_url(current_usuario) %>
  </div>
<% end %>

<div class="clearfix"></div>

<%#TODO: Mover código para o helpers %>
<div class="profile clearfix">
  <% if current_usuario %>
    <% if current_usuario.cliente? %>
      <% if current_usuario.cliente %>
        <%= link_to cliente_path(current_usuario.cliente) do %>
          <div class="profile_pic">
            <%= image_tag foto_avatar_url(current_usuario), class: "img-circle profile_img", size: "50x60" %>
          </div>
          <div class="profile_info">
            <span>Bem Vindo,</span>
            <h2><%= current_usuario.nome %></h2>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_cliente_path do %>
          <div class="profile_pic">
            <%= image_tag foto_avatar_url(current_usuario), class: "img-circle profile_img", size: "50x60" %>
          </div>
          <div class="profile_info">
            <span>Bem Vindo,</span>
            <h2><%= current_usuario.nome %></h2>
          </div>
        <% end %>
      <% end %>
    <% elsif current_usuario.representante? %>
      <% if current_usuario.representante %>
        <%= link_to representante_path(current_usuario.representante) do %>
          <div class="profile_pic">
            <%= image_tag foto_avatar_url(current_usuario), class: "img-circle profile_img", size: "50x60" %>
          </div>
          <div class="profile_info">
            <span>Bem Vindo,</span>
            <h2><%= current_usuario.nome %></h2>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_representante_path do %>
          <div class="profile_pic">
            <%= image_tag foto_avatar_url(current_usuario), class: "img-circle profile_img", size: "50x60" %>
          </div>
          <div class="profile_info">
            <span>Bem Vindo,</span>
            <h2><%= current_usuario.nome %></h2>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="profile_pic">
      <%= image_tag "user.png", class: "img-circle profile_img" %>
    </div>
    <div class="profile_info">
      <span>Bem Vindo</span>
    </div>
  <% end %>
</div>

<br/>

<%#TODO: Mover código para o helpers %>
<% if current_usuario.cliente? %>
  <% if current_usuario.cliente %>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Principal <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to "Dashboard", dashboard_cliente_path %></li>
            </ul>
          </li>
          <li><a><i class="fa fa-edit"></i> Gerenciamento <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li>
                <%= link_to "Representantes", cliente_representantes_path(current_usuario.cliente) %>
              </li>
              <li>
                <%= link_to "Lojistas", cliente_lojistas_path(current_usuario.cliente) %>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> Cadastro <span class="fa fa-chevron-down"></span></a>
            <% if current_usuario.cliente %>
              <ul class="nav child_menu">
                <li><%= link_to "Representante", new_usuario_invitation_path %></li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% elsif current_usuario.representante? %>
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Principal <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><%= link_to "Dashboard", dashboard_representante_path %></li>
          </ul>
        </li>
        <% if current_usuario.representante %>
          <li><a><i class="fa fa-edit"></i> Gerenciamento <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li>
                <%# %>
                <%= link_to "Lojistas", representante_lojistas_path(current_usuario.representante) %>
              </li>
            </ul>
          </li>
        <% end %>
        <li><a><i class="fa fa-desktop"></i> Cadastro <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <%#TODO: Somente para venda %>
            <li><%= link_to "Equipe", new_usuario_invitation_path %></li>
            <li><%= link_to 'Lojista', new_representante_lojista_path(current_usuario.representante) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<% end %>

