<div class="navbar nav_title" style="border: 0;">
  <%#FIXME: Melhorar logo do cliente %>
  <% if current_usuario.cliente %>
    <%= image_tag(foto_logo_url(current_usuario.cliente), class: "img-rectangle", size: "100x50") %>
  <% else %>
    <%= image_tag "user.png", class: "img-rectangle", size: "100x50" %>
  <% end %>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<%#TODO: Adicionar os helpers %>
<div class="profile clearfix">
  <% if current_usuario %>
    <div class="profile_pic">
      <%= image_tag foto_avatar_url(current_usuario), class: "img-circle profile_img", size: "50x60" %>
    </div>
    <div class="profile_info">
      <span>Bem Vindo,</span>
      <h2><%= current_usuario.nome %></h2>
    </div>
  <% else %>
    <div class="profile_pic">
      <%= image_tag "user.png", class: "img-circle profile_img" %>
    </div>
    <div class="profile_info">
      <span>Bem Vindo</span>
    </div>
  <% end %>

</div>
<!-- /menu profile quick info -->

<br/>

<% if current_usuario.cliente %>
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Principal <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><%= link_to "Dashboard", dashboard_index_path %></li>
            <li><%= link_to "Dashboard2", dashboard_index2_path %></li>
            <li><%= link_to "Dashboard3", dashboard_index3_path %></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Gerenciamento <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li>
              <%= link_to "Representantes", cliente_representante_comerciais_path(current_usuario.cliente) %>
            </li>
            <li>
              <%= link_to "Lojistas", lojistas_path %>
            </li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> Cadastro <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li>
              <%= link_to "Representante", new_cliente_representante_comercial_path(current_usuario.cliente) %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<!-- /sidebar menu -->
