<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Clientes
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="text-center">
      <%= paginate @clientes, param_name: "page_cliente" %>
    </div>
    <div class="x_content">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Contato</th>
          <th>Telefone</th>
          <th>Whatsapp</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @clientes.each do |cliente| %>
          <tr>
            <th scope="row"><%= cliente.id.to_s %></th>
            <td><%= cliente.descricao %></td>
            <td><%= cliente.contato %></td>
            <td><%= cliente.telefone %></td>
            <td>
              <%= cliente.telefone_whatsapp %></td>
            <td><%= cliente.email %></td>
            <td>
              <%= link_to representante_cliente_path(@representante, cliente) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
