<div class="row">
  <%= form_tag industria_dashboards_mapa_lojistas_path(current_usuario.industria), method: :get do |f| %>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <%= select_tag "cidade[estado_eq]", options_from_collection_for_select(@select_estados, "estado", "estado"), include_blank: "Todos Estados", class: "form-control" %>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <%= text_field_tag "cidade[populacao_gteq]", nil, placeholder: "População", class: "form-control" %>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <%= select_tag "cidade[descricao_eq]", options_from_collection_for_select(@select_cidades, "descricao", "descricao"), include_blank: "Todas Cidades", class: "form-control" %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= select_tag "lojista[id_eq]", options_from_collection_for_select(@select_lojistas, "id", "descricao"), include_blank: "Todos Lojistas", class: "form-control" %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= submit_tag "Pesquisar", class: "btn btn-default" %>
      <%= link_to "Limpar", request.path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<%= render 'industrias/dashboards/mapa_lojistas' %>
