<p id="notice"><%= notice %></p>

<h4>Representantes</h4>

<%= link_to service_area_representatives_path do %>
  <i class="large material-icons">insert_chart</i>
<% end %>

<table class="striped">
  <thead>
  <tr>
    <th>Descrição</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Endereço</th>
    <th>CEP</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @representatives.each do |representative| %>
    <tr>
      <td><%= representative.description %></td>
      <td><%= representative.phone %></td>
      <td><%= representative.email %></td>
      <td><%= representative.address %></td>
      <td><%= representative.cep %></td>
      <td><%= link_to 'Editar', edit_representative_path(representative), class: "btn yellow waves-effect waves-light" %></td>
      <td><%= link_to 'Excluir', representative, method: :delete, data: {confirm: 'Você tem certeza?'}, class: "btn red waves-effect waves-light" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Representante', new_representative_path, class: "btn green waves-effect waves-light" %>
