<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="text-center">
    <%= paginate @assinaturas, param_name: "page_assinatura" %>
    <%= page_entries_info @assinaturas %>
  </div>
  <div class="x_panel">
    <div class="nav navbar-right">
      <%#TODO: Mover para o helpers %>
      <% if current_usuario.industria? %>
        <%= link_to 'Realizar Assinatura', new_industria_assinatura_path(@industria), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="x_title">
      <h2>Assinaturas
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Plano</th>
          <th>Valor</th>
          <th>Ativo</th>
        </tr>
        </thead>
        <tbody>
        <% @assinaturas.each do |assinatura| %>
          <tr>
            <td><%= assinatura.plano.descricao %></td>
            <td><%= number_to_currency assinatura.plano.preco %></td>
            <td><%= assinatura.ativo ? "<button type='button' class='btn btn-round btn-success'>Sim</button>".html_safe : "<button type='button' class='btn btn-round btn-danger'>Não</button>".html_safe %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
