<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Produtos
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <% @produtos.each do |produto| %>
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
          <div class="col-md-12 col-sm-12 well profile_view">
            <div class="col-sm-12">
              <h4 class="brief"><i><span title="<%= produto.descricao %>"><%= truncate produto.descricao %></span></i>
              </h4>
              <div class="left col-xs-12">
                <h2><%= number_to_currency produto.preco %></h2>
              </div>
              <% if current_usuario.representante? %>
                <ul class="list-unstyled">
                  <li><i class="fa fa-industry"></i> <strong>Cliente: </strong>
                    <span title="<%= produto.cliente.descricao %>"><%= truncate produto.cliente.descricao %></span></li>
                </ul>
              <% end %>
            </div>
            <div class="col-xs-12 bottom text-center">
              <div class="col-xs-12 col-sm-6 emphasis"></div>
              <div class="col-xs-12 col-sm-6 emphasis">
                <% if current_usuario.cliente? %>
                  <%= link_to cliente_produto_path(@cliente, produto) do %>
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fa fa-eye"> </i> Detalhes
                    </button>
                  <% end %>
                <% elsif current_usuario.representante? %>
                  <%= link_to representante_produto_path(@representante, produto) do %>
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fa fa-eye"> </i> Detalhes
                    </button>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
