<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <%= search_form_for @q, url: current_usuario.cliente? ? cliente_produtos_path(current_usuario.cliente) : representante_produtos_path(current_usuario.representante) do |f| %>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.search_field :descricao_cont, {placeholder: "Descrição do Produto", class: "form-control"} %>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.search_field :preco_gteq, {placeholder: "Preço do Produto", class: "form-control"} %>
      </div>

      <% if current_usuario.representante? %>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <%= f.collection_select :cliente_id_eq, @clientes, "id", "descricao", {include_blank: 'Todos Clientes'}, {class: "form-control"} %>
        </div>
      <% end %>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.submit "Pesquisar", class: "btn btn-default" %>
        <%= link_to "Limpar", request.path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

  <div class="x_panel">
    <div class="x_title">
      <h2>Produtos
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <% @produtos.each do |produto| %>
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
          <div class="col-md-12 col-sm-12 well profile_view">
            <div class="col-sm-12">
              <h4 class="brief">
                <i><span title="<%= produto.descricao %>"><%= truncate produto.descricao, length: 40 %></span></i>
              </h4>
            </div>
            <div class="left col-xs-12">
              <h2><%= number_to_currency produto.preco %></h2>
            </div>
            <div class="col-sm-12">
              <%= image_tag foto_url(produto), class: "img-profile", size: "250x250" %>
            </div>
            <% if current_usuario.representante? %>
              <div class="col-sm-12">
                <div class="left col-xs-12">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-industry"></i> <strong>Cliente: </strong>
                      <span title="<%= produto.cliente.descricao %>"><%= truncate produto.cliente.descricao %></span>
                    </li>
                    <li>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="col-xs-12 bottom text-center">
              <% if current_usuario.cliente? %>
                <%= link_to cliente_produto_path(@cliente, produto) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% elsif current_usuario.representante? %>
                <%= link_to representante_produto_path(@representante, produto) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
