<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Representantes
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <% @representantes.each do |representante| %>
        <div class="col-sm-4 col-md-4 col-lg-12 profile_details">
          <div class="col-sm-12 col-md-12 well profile_view">
            <div class="col-sm-12">
              <h4 class="brief">
                <i><span title="<%= representante.descricao %>"><%= truncate representante.descricao, length: 40 %></span></i>
              </h4>
            </div>
            <div class="col-sm-12">
              <div class="left col-xs-4 text-center">
                <%= image_tag foto_avatar_url(representante.usuario), class: "logo", size: "250x250" %>
              </div>
            </div>
            <div class="col-sm-12">
              <h5><%= representante.contato %></h5>
            </div>
            <div class="col-sm-12">
              <div class="left col-xs-12">
                <ul class="list-unstyled">
                  <li><i class="fa fa-building"></i> <strong>Endereço: </strong>
                    <span title="<%= representante.endereco %>"><%= truncate representante.endereco, length: 25 %></span>
                  </li>
                  <li><i class="fa fa-envelope"></i> <strong>Email: </strong>
                    <span title="<%= representante.email %>"><%= truncate representante.email, length: 25 %></span></li>
                  <li><i class="fa fa-phone"></i> <strong>Telefone: </strong><%= representante.telefone %></li>
                  <li><i class="fa fa-whatsapp"></i> <strong>Whatsapp: </strong><%= representante.telefone_whatsapp %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 bottom text-center">
              <div class="col-xs-12 col-sm-6 emphasis">
                <%= link_to cliente_dashboards_representante_path(@cliente, representante) do %>
                  <button type="button" class="btn btn-success btn-xs">
                    <i class="fa fa-eye"> </i> Dashboard
                  </button>
                <% end %>
              </div>
              <div class="col-xs-12 col-sm-6 emphasis">
                <%= link_to cliente_representante_path(@cliente, representante) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
