<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Autenticação
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal form-label-left"}) do |f| %>
        <div class="nav navbar-right">
          <%= f.button :submit, "Autenticar", class: "btn btn-default" %>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Crie Uma Conta", new_registration_path(resource_name), class: "btn btn-success" %>
          <% end %>
        </div>
        <div class="x_content">
          <%= f.input :email, autofocus: true, placeholder: "Email", class: "form-control" %>
          <%= f.input :password, placeholder: "Senha", class: "form-control" %>
          <div class="text-center">
            <%= f.input :remember_me, label: "Lembrar-me", as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
