<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2> <%= @solicitacao.produtos.any? ? "Solicitação" : "Cadastrar Pedido" %>
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="nav navbar-left">
        <%#TODO: Mover para o helpers %>
        <% if current_usuario.representante? %>
          <% if @solicitacao.pendente? %>
            <%= link_to "Resolver", representante_solicitacao_status_path(@representante, @solicitacao, status: :resolver), method: :post, class: "btn btn-info" %>
          <% end %>
          <% if @solicitacao.criado? %>
            <% if @solicitacao.produtos.any? %>
              <%= link_to "Solicitar", representante_solicitacao_status_path(@representante, @solicitacao, status: :solicitar), method: :post, class: "btn btn-info" %>
            <% end %>
            <%= link_to "Cancelar", representante_solicitacao_status_path(@representante, @solicitacao, status: :cancelar), method: :post, class: "btn btn-danger" %>
          <% end %>

        <% end %>
        <% if current_usuario.industria? %>
          <% if @solicitacao.analisado? or @solicitacao.solicitado? or @solicitacao.resolvido? %>
            <%= link_to "Aceitar", industria_solicitacao_status_path(@industria, @solicitacao, status: :aceitar), method: :post, class: "btn btn-success" %>
          <% end %>
          <% if @solicitacao.solicitado? or @solicitacao.resolvido? %>
            <%= link_to "Analisar", industria_solicitacao_status_path(@industria, @solicitacao, status: :analisar), method: :post, class: "btn btn-warning" %>
          <% end %>
          <% if @solicitacao.analisado? or @solicitacao.solicitado? or @solicitacao.resolvido? %>
            <%= link_to "Pendenciar", industria_solicitacao_status_path(@industria, @solicitacao, status: :pendenciar), method: :post, class: "btn btn-warning" %>
            <%= link_to "Recusar", industria_solicitacao_status_path(@industria, @solicitacao, status: :recusar), method: :post, class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
      <div class="nav navbar-right">
        <%#TODO: Mover para o helpers %>
        <% if current_usuario.representante? %>
          <% if @solicitacao.criado? or @solicitacao.pendente? %>
            <%= link_to @solicitacao.produtos.any? ? "Editar Produto" : "Cadastrar Produto", edit_representante_solicitacao_path(@representante, @solicitacao), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="x_content">
        <div class="divider-dashed"></div>
        <form data-parsley-validate class="form-horizontal form-label-left">
          <% if current_usuario.industria? %>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                <%= link_to industria_representante_path(@industria, @solicitacao.representante) do %>
                  Representante <i class="fa fa-eye"> </i>
                <% end %>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @solicitacao.representante.descricao %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                <%= link_to industria_lojista_path(@industria, @solicitacao.lojista) do %>
                  Lojista <i class="fa fa-eye"> </i>
                <% end %>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @solicitacao.lojista.descricao %>">
              </div>
            </div>
          <% end %>
          <% if current_usuario.representante? %>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                <%= link_to representante_industria_path(@representante, @solicitacao.industria) do %>
                  Indústria <i class="fa fa-eye"> </i>
                <% end %>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @solicitacao.industria.descricao %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                <%= link_to representante_lojista_path(@representante, @solicitacao.lojista) do %>
                  Lojista <i class="fa fa-eye"> </i>
                <% end %>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @solicitacao.lojista.descricao %>">
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Situação
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @solicitacao.status.capitalize %>">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= render 'representantes/solicitacoes/produtos' %>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= render 'representantes/solicitacoes/comentarios' %>
  </div>
</div>

