<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <%= search_form_for @q, url: current_usuario.cliente? ? cliente_solicitacoes_path(current_usuario.cliente) : representante_solicitacoes_path(current_usuario.representante) do |f| %>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.collection_select :status_eq, @statuses, "status", "status", {include_blank: 'Todas Situações'}, {class: "form-control"} %>
      </div>
      <% if current_usuario.cliente? %>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <%= f.select :representante_id_eq, options_from_collection_for_select(@representantes, "id", "descricao"), {include_blank: 'Todos Representantes'}, {class: "form-control"} %>
        </div>
      <% end %>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.select :lojista_id_eq, options_from_collection_for_select(@lojistas, "id", "descricao"), {include_blank: 'Todos Lojistas'}, {class: "form-control"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= f.submit "Pesquisar", class: "btn btn-default" %>
        <%= link_to "Limpar", request.path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= paginate @solicitacoes %>
  </div>
  <div class="x_panel">
    <div class="x_title">
      <h2>Solicitações
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= sort_link @q, :id, "#" %></th>
          <%#TODO: Mover para o helpers %>
          <% if current_usuario.representante? %>
            <th><%= sort_link @q, :cliente_id %></th>
          <% elsif current_usuario.cliente? %>
            <th><%= sort_link @q, :representante_id %></th>
          <% end %>
          <th><%= sort_link @q, :lojista_id %></th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th>Situação</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @solicitacoes.each do |solicitacao| %>
          <tr>
            <th scope="row"><%= solicitacao.id.to_s %></th>
            <%#TODO: Mover para o helpers %>
            <% if current_usuario.representante? %>
              <td><%= link_to solicitacao.cliente.descricao, representante_clientes_path(solicitacao.cliente) %></td>
              <td><%= link_to solicitacao.lojista.descricao, representante_lojistas_path(solicitacao.lojista) %></td>
            <% elsif current_usuario.cliente? %>
              <td><%= link_to solicitacao.representante.descricao, cliente_representantes_path(solicitacao.representante) %></td>
              <td><%= link_to solicitacao.lojista.descricao, cliente_lojistas_path(solicitacao.lojista) %></td>
            <% end %>
            <td><%= solicitacao.pedidos.sum(:quantidade) %> itens</td>
            <td><%= number_to_currency solicitacao.valor_total_dos_produtos %></td>
            <td><%= situacao_botao solicitacao %>
            </td>
            <td>
              <%#TODO: Mover para o helpers %>
              <% if current_usuario.representante? %>
                <%= link_to representante_solicitacao_path(@representante, solicitacao) do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              <% elsif current_usuario.cliente? %>
                <%= link_to cliente_solicitacao_path(@cliente, solicitacao) do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
