<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cidade.descricao %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cidade.estado %>
</p>

<p>
  <strong>Populacao:</strong>
  <%= @cidade.populacao %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cidade.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cidade.longitude %>
</p>

<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>
