<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Convite
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {class: "form-horizontal form-label-left", method: :put} do |f| %>

          <%= f.hidden_field :invitation_token %>
          <%= f.hidden_field :invitation_accepted_at, value: Time.now %>

          <%= f.input :password %>
          <%= f.input :password_confirmation %>


          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <%= f.button :submit, "Cadastrar Senha", class: "btn btn-success" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

