<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Logo</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.input_field :foto, :as => :file, label: nil, class: "form-control col-md-7 col-xs-12" %>
  </div>
</div>
<%= f.input :codigo %>
<%= f.input :ativo %>
<%= f.input :descricao %>
<%= f.input :preco %>
<%= f.input :detalhe, as: :text, :input_html => {'rows' => 10, 'cols' => 50} %>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Arquivos</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.input_field :arquivos, :as => :file, multiple: true, label: nil, class: "form-control col-md-7 col-xs-12" %>
  </div>
</div>

<div class="ln_solid"></div>
