<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Produtos
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="text-center">
      <%= paginate @produtos, param_name: "page_produto" %>
    </div>

    <div class="x_content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <th scope="row"><%= produto.id.to_s %></th>
            <td><%= produto.descricao %></td>
            <td><%= number_to_currency produto.preco %></td>
            <td width="10%">
              <%= link_to representante_produto_path(@representante, produto) do %>
                <button type="button" class="btn btn-primary btn-xs">
                  <i class="fa fa-eye"> </i> Detalhes
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
