<div class="x_content">
  <div class="divider-dashed"></div>
  <form data-parsley-validate class="form-horizontal form-label-left">

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Descrição

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @representante.descricao %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Cidade

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.cidade.descricao %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Endereço

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.endereco %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">CEP
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.cep %>">
      </div>
    </div>

    <div class="divider-dashed"></div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Contato

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @representante.contato %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Telefone

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.telefone %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Whatsapp

      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" id="last-name" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.telefone_whatsapp %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @representante.email %>">
      </div>
    </div>

  </form>
</div>
