<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Lojistas
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="text-center">
      <%= paginate @lojistas, param_name: "page_lojista" %>
      <%= page_entries_info @lojistas %>
    </div>

    <div class="x_content">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Lojista</th>
          <th>Contato</th>
          <th>Telefone</th>
          <th>Whatsapp</th>
          <th>Email</th>

          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @lojistas.each do |lojista| %>
          <tr>
            <th scope="row"><%= lojista.id.to_s %></th>
            <td>
              <%= lojista.descricao %>
            </td>
            <td><%= lojista.contato %></td>
            <td><%= lojista.telefone %></td>
            <td>
              <%= lojista.telefone_whatsapp %></td>
            <td><%= lojista.email %></td>
            <td>
              <%#TODO: Mover para o helpers %>
              <% if current_usuario.representante? %>
                <%= link_to representante_lojista_path(@representante, lojista) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% elsif (current_usuario.industria? or current_usuario.equipe_industria?) %>
                <%= link_to industria_lojista_path(@industria, lojista) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
