<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Lojistas
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Contato</th>
          <th>Telefone</th>
          <th>Whatsapp</th>
          <th>Email</th>
          <% if current_usuario.cliente? %>
            <th>Representante</th>
          <% end %>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @lojistas.each do |lojista| %>
          <tr>
            <th scope="row"><%= lojista.id.to_s %></th>
            <td><%= lojista.descricao %></td>
            <td><%= lojista.contato %></td>
            <td><%= lojista.telefone %></td>
            <td>
              <%= lojista.telefone_whatsapp %></td>
            <td><%= lojista.email %></td>
            <% if current_usuario.cliente? %>
              <td><%= representante(lojista, @representante) %></td>
            <% end %>
            <td>
              <%#TODO: Mover para o helpers %>
              <% if current_usuario.representante? %>
                <%= link_to representante_lojista_path(@representante, lojista) do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              <% elsif current_usuario.cliente? %>
                <%= link_to cliente_lojista_path(@cliente, lojista) do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
