<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lojista
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="nav navbar-right">
        <%#TODO: Mover para o helpers %>
        <% if current_usuario.representante? %>
          <%= link_to 'Editar Lojista', edit_representante_lojista_path(@representante, @lojista), class: "btn btn-primary" %>
          <%= link_to 'Excluir Lojista', representante_lojista_path(@representante, @lojista), method: :delete, class: "btn btn-danger", data: {confirm: 'Você tem certeza?'} %>
        <% end %>
      </div>
      <div class="x_content">
        <% if current_usuario.representante? %>
          <div class="divider-dashed"></div>
        <% end %>

        <div class="col-sm-8 col-md-8 col-lg-8">
          <form data-parsley-validate class="form-horizontal form-label-left">

            <% if current_usuario.cliente? %>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Representante

                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= representante(@lojista, @representante) %>">
                </div>
              </div>

            <% end %>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Descrição

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @lojista.descricao %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Cidade

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @lojista.cidade.descricao %>">
              </div>
            </div>


            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Endereço

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @lojista.endereco %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">CEP
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @lojista.cep %>">
              </div>
            </div>

            <div class="divider-dashed"></div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Contato

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" value="<%= @lojista.contato %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Telefone

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @lojista.telefone %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Whatsapp

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="last-name" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @lojista.telefone_whatsapp %>">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" readonly="readonly" class="form-control col-md-7 col-xs-12" , value="<%= @lojista.email %>">
              </div>
            </div>

          </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <%= image_tag foto_logo_url(@lojista), class: "img-profile" %>
        </div>
      </div>
    </div>
  </div>

  <% if current_usuario.representante? %>
    <%= render "representantes/clientes/clientes_list" %>
  <% end %>
</div>


