<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <%= search_form_for @q, url: (current_usuario.industria? or current_usuario.equipe_industria?) ? industria_lojistas_path(current_usuario.industria) : representante_lojistas_path(current_usuario.representante) do |f| %>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <%= f.search_field :descricao_cont, {placeholder: "Nome do Lojista", class: "form-control"} %>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <%= f.search_field :contato_cont, {placeholder: "Nome do Contato", class: "form-control"} %>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <%= f.collection_select :cidade_estado_eq, @estados, "estado", "estado", {include_blank: 'Todos Estados'}, {class: "form-control"} %>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <%= f.collection_select :cidade_id_eq, @cidades, "id", "descricao", {include_blank: 'Todas Cidades'}, {class: "form-control"} %>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <%= f.submit "Pesquisar", class: "btn btn-default" %>
        <%= link_to "Limpar", request.path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= paginate @lojistas, param_name: "page_lojista" %>
    <%= page_entries_info @lojistas %>
  </div>
  <div class="x_panel">
    <div class="x_title">
      <h2>Lojistas
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <% @lojistas.each do |lojista| %>
        <div class="col-sm-4 col-md-4 col-lg-3 profile_details">
          <div class="col-sm-12 col-md-12 col-sm-12 well profile_view">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <h4 class="brief">
                <i><span title="<%= lojista.descricao %>"><%= truncate lojista.descricao, length: 40 %></span></i>
              </h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <%= image_tag foto_logo_url(lojista), class: "img-profile" %>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <h5><%= lojista.contato %></h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="left col-sm-12 col-md-12 col-lg-12">
                <ul class="list-unstyled">
                  <li><i class="fa fa-building"></i> <strong>Endereço: </strong>
                    <span title="<%= lojista.endereco %>"><%= truncate lojista.endereco, length: 25 %></span>
                  </li>
                  <li><i class="fa fa-envelope"></i> <strong>Email: </strong>
                    <span title="<%= lojista.email %>"><%= truncate lojista.email, length: 25 %></span></li>
                  <li><i class="fa fa-phone"></i> <strong>Telefone: </strong><%= lojista.telefone %></li>
                  <li><i class="fa fa-whatsapp"></i> <strong>Whatsapp: </strong><%= lojista.telefone_whatsapp %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 bottom text-center">
              <% if current_usuario.representante? %>
                <%= link_to representante_lojista_path(@representante, lojista) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% elsif (current_usuario.industria? or current_usuario.equipe_industria?) %>
                <%= link_to industria_lojista_path(@industria, lojista) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"> </i> Detalhes
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
