<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Representates Comerciais
        <small>...</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Descricao</th>
          <th>Contato</th>
          <th>Telefone</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @representante_comerciais.each do |representante_comercial| %>
          <tr>
            <th scope="row"><%= representante_comercial.id.to_s %></th>
            <td><%= representante_comercial.descricao %></td>
            <td><%= representante_comercial.contato %></td>
            <td><%= representante_comercial.telefone %></td>
            <td><%= representante_comercial.email %></td>
            <td>
              <%= link_to cliente_representante_comercial_path(@cliente, representante_comercial) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

