<p id="notice"><%= notice %></p>

<h4>Lojistas</h4>

<%= link_to service_area_shopkeepers_path do %>
  <i class="large material-icons">insert_chart</i>
<% end %>

<%= paginate @shopkeepers %>

<table class="striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>CEP</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @shopkeepers.each do |shopkeeper| %>
    <tr>
      <td><%= shopkeeper.name %></td>
      <td><%= shopkeeper.phone %></td>
      <td><%= shopkeeper.address %></td>
      <td><%= shopkeeper.cep %></td>
      <td><%= shopkeeper.state %></td>
      <td><%= shopkeeper.city %></td>
      <td><%= link_to 'Editar', edit_shopkeeper_path(shopkeeper), class: "btn yellow waves-effect waves-light" %></td>
      <td><%= link_to 'Excluir', shopkeeper, method: :delete, data: {confirm: 'Você tem certeza?'}, class: "btn red waves-effect waves-light" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Lojista', new_shopkeeper_path, class: "btn green waves-effect waves-light" %>
