<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <title><%= yield :title %></title>

</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <%= render partial: 'layouts/shared/leftnav' %>
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <%= render partial: 'layouts/shared/topnav' %>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <%= yield %>
    </div>


    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <%= render partial: 'layouts/shared/footer' %>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<% if action_name.include? "mapa" %>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&callback=initMap" data-turbolinks-eval="true">
  </script>
<% end %>

<% unless flash.empty? %>
  <script type="text/javascript">
      //NOTE: Configuração toastr https://codeseven.github.io/toastr/demo.html
      <% flash.each do |f| %>


      toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }

      <% type = f[0].to_s %>
      toastr["<%= type %>"]("<%= f[1] %>")
      <% end %>

  </script>
<% end %>

</body>
</html>
